<arc-container theme="light">
  <arc-navbar>
        <arc-button
      type="tab2"
      routerLinkActive="link--active"
      >Tab 1</arc-button
    >
    <arc-button
      type="tab"
      name="tab1"
      routerLinkActive="link--active"
      >Tab 2</arc-button
    >
    <arc-button
      type="tab"
      color="secondary"
      slot="user"
    >
      Craig Sturzaker
    </arc-button>
  </arc-navbar>
  <section aria-label="Demo section" style="padding: var(--arc-spacing-medium)">
    Some content
  </section>
</arc-container>
