<arc-container theme="light">
  <arc-navbar>
    <arc-navbar slot="nav" logo="assets/arc-red.svg"></arc-navbar>
    <arc-button type="tab2" routerLinkActive="link--active">Tab 1</arc-button>
    <arc-button type="tab" name="tab1" routerLinkActive="link--active"
      >Tab 2</arc-button
    >
    <arc-button type="tab" color="secondary" slot="user">
      Craig Sturzaker
    </arc-button>
  </arc-navbar>
  <section aria-label="Demo section" style="padding: var(--arc-spacing-medium)">
    <div class="row">
      <div class="textCol">
        <h1>Generative Design and the Built Environment..</h1>.
      </div>
      <div class="textCol"></div>

    </div>
    <div class="row">
      <div class="column">
        <img src="assets/Arc-image-9.png" />
        <img src="assets/Arc-image-11.png" />
      </div>
      <div class="column">
        <img src="assets/Arc-image-14.png" />
        <img src="assets/Arc-image-17.png" />
      </div>
      <div class="column">
        <img src="assets/Arc-image-19.png" />
        <img src="assets/Arc-image-21.png" />
      </div>
      <div class="column">
        <img src="assets/Arc-image-26.png" />
        <img src="assets/Arc-image-27.png" />
      </div>
    </div>
  </section>
</arc-container>
